<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ STATIC_URL }}remont/css/common.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}remont/css/message_from_person.css">
  </head>

  <body>
    <div class="hidden-el">

      <div id="personMsgTemplate">
        <div class="person-messages-template">
          <div class="logo-cont message-cell-item">
            <img src="{0}" class="sender-logo"/>
          </div>
          <div class="name-and-text message-cell-item">
            <div class="from-name">{1}</div>
            <div class="msg-text" dataMessageId="{5}" dataHiddenText="{6}">{2}</div>
          </div>
          <div class="written-time message-cell-item">
            <div class="last-message-time">{3}</div>
            <div class="undead-messages-amount">{4}</div>
          </div>
          <div class="answer-btn message-cell-item">Ответить</div>
        </div>
      </div>

      <div id="msgAnswerDialog" title="Ответить на сообщение">
        <div class="msg-to-answer" id="msgToAnswer"></div>
        <div>
          <label for="tMessage">Текст сообщения: </label>
          <textarea id="tMessage" name="tMessage" rows="10" cols="50" maxlength="1000"></textarea>
        </div>
        <div class="error-div" id="msgError"></div>
        <span class="hidden-el" id="curSenderId"></span>
        <span class="hidden-el" id="msgToAnswerId"></span>
      </div>

    </div>
  </body>
</html>