<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="{{ STATIC_URL }}remont/css/mobile/add-work-template.css">
</head>
<body>
  <div class="place-job-container">
    <input type="hidden" id="jobCategory"/>
    <input type="hidden" id="jobType"/>
    <div class="input-fields-div">
      <input type="text" name="job_header" placeholder="Краткий заголовок заявки" class="input-base">
    </div>
    <div class="input-fields-div select-job-div">
      <div class="show-menu-btn" id="jobTypeBtn">Вид работ</div>
      <ul id="jobCategoryMenu" class="job-category hidden-el">
        {% for category in categories %}
          <li dataCatId="{{ category.id }}" class="job-menu-item">{{ category.name }}
            <ul class='jobs-for-category'>
              {% for job in category.jobs %}
                <li dataJobId="{{ job.id }}" class="job-type job-menu-item">{{ job.name }}</li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="input-fields-div description-div">
      <textarea placeholder="Максимально подробное описание работ(площадь, объем, сроки и т.п.)" class="job-description"></textarea>
    </div>
    <div class="input-fields-div contact-name-div">
      <input type="text" placeholder="Контактное лицо" class="input-base contact_name">
    </div>
    <div class="input-fields-div contact-name-div">
      <input type="text" placeholder="Ваш город" class="input-base job_city">
    </div>
    <div class="input-fields-div">
      <input type="tel" placeholder="Телефон" class="input-base contact_phone">
    </div>
    <div class="input-fields-div">
      <input type="email" placeholder="Электронная почта" class="input-base contact_mail">
    </div>
    <div class="input-fields-div place-job-request-div">
      <div class="save-job-btn" id="placeOrderButton">Оставить заявку</div>
    </div>
  </div>

  <script type="text/javascript" src="{{ STATIC_URL }}remont/js/jquery-2.1.3.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}remont/js/jquery-ui-1.11.3.custom/jquery-ui.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}remont/js/add-work-template.js"></script>
</body>
</html>