.job_category {
    width: 300px
}

.job_type {
    width: 300px;
    margin-left: 150px
}

.width350 {
    width: 350px;
}

.place-job-container {
  margin-top: 10px;
}

.ui-menu {
  width: 250px;
}

.job-category {
    position: absolute;
}

.job-type-btn {

}

/*Стили для формы оставления заявки о работе*/
.place-job-container {
  margin-top: 2%;
  margin-left: 4%;
  width: 72.5%;
}

.place-job-order {
  width: 70%;
  margin: 0 auto;
  border-radius: 4px;
  border: 1px solid black;
}

.input-fields-div {
  margin-top: 10px;
  width: 96%;
  margin: 0 auto;
}

.input-base {
  margin-top: 10px;
  border-radius: 5px;
  height: 24px;
}

.job_header {
  width: 100%;
  margin: 10px auto 0px auto;
}

.show-menu-wrapper {
  height: 24px;
  display: table;
}

.show-menu-wrapper:hover {
  background: rgba(210, 210, 210, 0.7);
}

.show-menu-icon {
  display: table-cell;
  height: 100%;
}

.arrow-icon {
  width: 16px;
  height: 16px;
  padding-top: 4px;
}

.show-menu-btn {
  display: table-cell;
  height: 24px;
  line-height: 24px;
}

.job_description {
  width: 100%;
  margin: 10px auto 0px auto;
  height: 60px;
  border-radius: 10px;
  overflow-y: auto;
}

.contact_name {
  width: 45%;
  float: left;
}

.job_city {
  width: 45%;
  float: right;
}

.contact_phone {
  width: 45%;
  float: left;
}

.contact_mail {
  width: 45%;
  float: right;
}

.place-job-request-btn {
  width: 33%;
  margin: 10px 33.3% 10px 33.3%;
  border-radius: 5px;
}

.place-job-request-btn:hover {
  background: linear-gradient(rgba(40, 149, 230, 0.5), rgba(17, 87, 138, 0.5));
  cursor: pointer;
}