.profile-field {
    display: block;
    width: 100%;
    padding-bottom: 20px;
    clear: both;
}

.profile-label {
    font-weight: 800;
    margin-left: 20px;
    width: 30%;
    float: left;
}

.submit-btn-div {
    width: 35%;
    margin: 0 auto;
}

input[type="text"], input[type="url"], input[type="email"], input[type="password"], select {
    width: 30%;
}

#id_work_cities {
    list-style-type: none;
    float: left;
    margin-left: -50px;
    margin-top: 0px;
}

#id_job_types {
    float: left;
    margin-left: -50px;
    margin-top: 10px;
}

.errorlist {
    font-size: 14px;
    font-weight: bold;
    color: #FF0033;
}

.required-field:after {
    content: "";
    display: inline-block;
    height: 17px;
    width: 17px;
    margin: auto;
    background-image: url("/static/remont/images/field-required.png")
}

.main-container {
    float: left;
    width: 100%;
}

.profile-container {
    border: 1px solid black;
    display: block;
    width: 40%;
    float: left;
}

.additional-container {
    border: 1px solid black;
    display: block;
    width: 59%;
    float: left;
}

.select-photo-btn {
    display: inline-block;
    margin-left: 30px;
    width: 165px;
    height: 20px;
    cursor: pointer;
    background-color: #A2A3A3;
    border-radius: 5px;
}

.hidden-input {
    display: none;
}

.row-block {
    display: table-row;
}

.album-trumb {
    display: inline-block;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
}

.work-image-trumb {
    width: 100px;
    height: 100px;
}

.albums-list {
  width: 100%;
  margin-top: 10px;
}

.album-name {
}

.album-ph-amount {
    margin-left: 10px;
}

.photos-container {
    min-height: 40px;
}

.photo-uploader {
  width: 100%;
  min-height: 50px;
}

.add-photo-buttons {
  width: 100%;
  min-height: 25px;
  margin-top: 10px;
}

.photos-preview {
  width: 100%;
  margin-top: 10px;
  min-height: 20px;
}

.photo-action-buttons {
  width: 100%;
  margin-top: 10px;
  min-height: 20px;
}

.partners-container {
    width: 100%;
    margin-top: 20px;
    min-height: 20px;
}

.search-item {
  display: block;
  width: 300px;
  overflow: auto;
}

.search-img {
  display: inline-block;
  margin-top: 2px;
  margin-left: 2px;
  width: 36px;
  height: 36px;
  float: left;
}

.search-name {
  display: inline-block;
  margin-left: 2%;
  font-size: 0.9em;
  font-weight: 800;
  color: #00F;
  float: left;
}

/*Styles for file upload field*/
.fileform {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    cursor: pointer;
    height: 26px;
    overflow: hidden;
    padding: 2px;
    position: relative;
    text-align: left;
    vertical-align: middle;
    width: 230px;
}

.fileform .selectbutton {
    background-color: #A2A3A3;
    border: 1px solid #939494;
    border-radius: 2px;
    color: #FFFFFF;
    float: right;
    font-size: 16px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    padding: 2px 6px;
    text-align: center;
    vertical-align: middle;
    width: 50px;
}

.fileform #id_logo{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    font-size: 150px;
    height: 30px;
    z-index:20;
}

.thumb {
    height: 100px;
    width: 100px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
}

.previewDiv {
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
}
