.topCompanySection {
  border:solid 5px lightblue;
  border-radius: 5px;
  float:left;
  height:90px;
  margin-top: 4px;
  margin-left:1%;
  width:8.5%;
}

.topCompanyCell {
  border:solid 5px lightblue;
  border-radius: 5px;
  float:left;
  height:90px;
  margin-top: 4px;
  margin-left:1%;
  width: 10%;
}

.top10Companies {
  width: 90%;
  height: 100px;
  margin-top: 3%;
  margin-left: 5%;
  margin-bottom: 20px;
}

.searchCompany {
  height: 50px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  white-space: nowrap;
  line-height: 50px;
  overflow: hidden;
}

.searchInput {
  width: 70%;
  vertical-align: middle;
  /**display: inline;
  *margin: 0 20px 0 20px;*/
}

.top10Inner {
  margin: auto
}

.mainMiddle {
  width:100%;
  margin-top: 5px;
}

.howSiteWorks {
  margin-left: 2%;
  width: 30%;
  height: 250px;
  background-color: bisque;
  float: left;
  margin-top: 4px;
  border: 1px solid black;
}

.mainMenu {
  width: 90%;
  height: 60px;
  float: left;
  margin-left: 5%;
  margin-bottom: 5px;
}

.menuItemOuter {
  float:left;
  height:50px;
  margin-top: 4px;
  margin-left:2%;
  width:23%;
  display: table;
  overflow: hidden;
}

.menuItemInner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.suggestJob {
  width: 40%;
  height: 60px;
  margin: auto;
  display: table;
  overflow: hidden;
}

.suggestJobButton {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.details-label {
  font-weight: 700;
  margin-right: 10px;
}

.org-details {
  margin-top: 10px;
  border-bottom: 1px dotted black;
}

.place-job-request-btn {
  text-align: center;
}

.btn-show-more {
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  text-decoration: underline;
  padding-top: 15px;
  padding-bottom: 10px;
}

.btn-show-more:hover {
  color: #003eff;
}

.width100p {
  width: 100%
}

.btn-show-more {
  display: table-cell;
  margin-top: 10px
}

.div-show-more {
  display: table;
  margin: 0 auto
}

.login-fields-div {
  width: 450px;
  height: 25px;
  margin-bottom: 20px;
  display: block;
}

.login-dialog-label {
  float: left;
  font-size: 0.9em;
}

.login-fields-input {
  width: 220px;
  float: right;
}

.login-link {
  padding-left: 10px;
  padding-right: 10px;
}

.error-div {
  color: #FF0000;
  font-size: 12px;
  font-weight: 800;
}

.partner-container {
  display: block;
  width: 400px;
  height: 60px;
  border-top: 1px solid black;
}

.org-link {
  margin-bottom: 5px;
}

.logo-small {
  margin-top: 5px;
  width: 50px;
  height: 50px;
}

.select-spec-cont {
  width: 70%;
  margin: 0 auto;
}
