.topPage {
    width:100%;
    height:100px;
}

.topCompanySection {
    border:solid 5px lightblue;
    border-radius: 5px;
    float:left;
    height:90px;
    margin-top: 4px;
    margin-left:1%;
    width:8.5%;
}
.topCompanyCell {
    border:solid 5px lightblue;
    border-radius: 5px;
    float:left;
    height:90px;
    margin-top: 4px;
    margin-left:1%;
    width: 10%;
}

.sectionLogo {
    float: left;
    height: 90px;
    width: 15%;
    margin-top: 4px;
    margin-left: 1%;
}

.sectionBanner {
    border: solid 1px #999;
    height: 90px;
    width: 34%;
    float: left;
    margin-top: 4px;
    margin-left: 17%;
}

.sectionRegister {
    border: solid 2px #999;
    height: 90px;
    width: 15%;
    float: right;
    margin-right: 1%;
    margin-top: 4px;
    border-radius: 2px;
    display: block;
}

.top10Companies {
    width: 90%;
    height: 100px;
    margin-top: 3%;
    margin-left: 5%;
    margin-bottom: 20px;
}

.searchCompany {
    height: 50px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    white-space: nowrap;
    line-height: 50px;
    overflow: hidden;
}

.searchInput {
    width: 40%;
    display: inline-block;
    vertical-align: middle;

    *display: inline;
    *margin: 0 20px 0 20px;
}

.top10Inner {
    margin: auto
}

.mainMiddle {
    width:100%;
    margin-top: 5px;
}

.howSiteWorks {
    margin-left: 2%;
    width: 30%;
    height: 250px;
    background-color: bisque;
    float: left;
    margin-top: 4px;
    border: 1px solid black;
}

.mainMenu {
    width: 90%;
    height: 60px;
    float: left;
    margin-left: 5%;
    margin-bottom: 5px;
}

.menuItemOuter {
    float:left;
    height:50px;
    margin-top: 4px;
    margin-left:2%;
    width:23%;
    display: table;
    overflow: hidden;
}

.menuItemInner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.suggestJob {
    width: 40%;
    height: 60px;
    margin: auto;
    display: table;
    overflow: hidden;
}

.suggestJobButton {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.jobsSuggestions {
    width: 60%;
    margin: 0 auto;
    background-color: rgb(245, 245, 245);
    border-radius: 4px;
    overflow-y: auto;
}

.suggestionsHeader {
    margin: 0 auto;
    background: linear-gradient(rgb(180, 180, 180), rgb(230, 230, 230));
    border-radius: 4px;
}

.simple-list {
    list-style-type: none;
}

.details-label {
    font-weight: 700;
    margin-right: 10px;
}

.org-details {
    margin-top: 10px;
    border-bottom: 1px dotted black;
}

.job-request-div {
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 20px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid darkgray;
}

/*Стили для формы оставления заявки о работе*/
.placeJobOrder {
    width: 850px;
    margin: 0 auto;
    border-radius: 4px;
    background-color: rgb(245, 245, 245);
}

.input-fields-div {
    margin-top: 10px;
    margin-left: 50px
}
.input-base {
    border-radius: 4px
}
.action-btn {
    height: 40px;
    border-radius: 4px;
    background: linear-gradient(rgb(40, 149, 230), rgb(17, 87, 138));
    font-size: 18px;
    font-weight: 700;
}
.action-btn:hover {
    background: linear-gradient(rgba(40, 149, 230, 0.5), rgba(17, 87, 138, 0.5));
}

.width100p {
    width: 100%
}

.btn-show-more {
    display: table-cell;
    margin-top: 10px
}

.div-show-more {
    display: table;
    margin: 0 auto
}

.img_auto_100p {
    width: 100%;
    height: 100%
}

.center-hor {
    margin: 0 auto;
}

.login-fields-div {
    width: 450px;
    margin-bottom: 20px;
    display: block;
}

.login-field-label {
    float: left;
}

.login-label {
    font-size: 12px;
}

.login-fields-input {
    width: 220px;
    float: right;
}

.login-link {
    margin-left: 30px;
}
