.org-logo {
  width: 120px;
  height: 120px;
}

.orgs-list {
  margin-top: 5%;
  width: 80%;
}

.org-info {
  display: inline-block;
  margin-left: 2%;
  margin-bottom: 2%;
}

.job-type-header {
  margin-left: 5%;
  font-size: 1.45em;
}

.job-orgs-list {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  overflow: hidden;
  padding: 0;
  margin-left: 5%
}