.main-div {
  float: left;
  width: 100%
}

.content-div {
  float: left;
  width: 74%;
}

.categories-cont {
  width: 92%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  column-count:4;
  -moz-column-count:4;
  -webkit-column-count:4;
}

.category-job-item {
  line-height: 1;
}