.logged-user-info {
  background-color: rgba(187, 207, 255, 1);
  width: 100%;
  height: 36px;
}

.logged-user-info * {
  margin-top: 3px;
}

.logged-user-info .welcome-message {
  float: left;
  margin-left: 30%;
}

.logged-user-info .icon-with-amount {
  float: left;
  margin-left: 2%;
  height: 32px;
  cursor: pointer;
}

.logged-user-info .top-icon {
  width: 20px;
  height: 20px;
  float: left;
}

.logged-user-info .new-items-amount {
  background-color: yellow;
  float: left;
  padding-left: 2.5px;
  padding-right: 2.5px;
  font-size: 0.8em;
  font-weight: 700;
  border-radius: 4px;
}

.logged-user-info .top-btn {
  float: left;
  margin-left: 2%;
  cursor: pointer;
  background: linear-gradient(rgba(40, 149, 230, 0.5), rgba(17, 87, 138, 0.5));
  border-radius: 4px;
  padding: 5px;
}
