.topPage {
  display: table;
  width: 100%;
  height: 100px;
  table-layout: fixed;
  border-spacing: 10px;
}

.topPage .sectionLogo {
  height: 90px;
  width: 14%;
  margin-top: 4px;
  margin-left: 1%;
  display: table-cell;
}

.topPage .sectionBanner {
  display: table-cell;
  border: solid 1px #999;
  height: 90px;
  width: 67%;
  float: left;
  margin-top: 4px;
  margin-left: 6%;
}

.topPage .sectionRegister {
  display: table-cell;
  height: 90px;
  width: 14%;
  float: left;
  margin-left: 6%;
  margin-top: 4px;
  border-radius: 2px;
}

.topPage .img_auto_100p {
  width: 100%;
  height: 100%
}

.topPage .reg-login-cont {
  display: table;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background: linear-gradient(rgba(220, 220, 220, 0.5), rgba(210, 210, 210, 1));
}

.topPage .action-btn {
  display: inline-block;
  margin-top: 26px;
  height: 28px;
  border-radius: 4px;
  font-size: 1.15em;
  font-weight: 700;
  text-align: left;
  cursor: pointer;
  text-decoration: underline;
  padding-left: 5px;
  padding-right: 5px;
}

.topPage .action-btn:hover {
  background: linear-gradient(rgba(40, 149, 230, 0.5), rgba(17, 87, 138, 0.5));
}

.topPage .slash-sep {
  display: table-cell;
}

.site-logo {
  cursor: pointer;
}