.top-orgs-container {
  margin-top: 10px;
  width: 100%;
}

.top-orgs-parent {
  width: 72.5%;
  text-align: center;
  white-space: nowrap;
  margin-left: 4%;
  display: table;
}

.top-orgs-child {
  display: table-cell;
  cursor: pointer;
  width: 11%;
  padding-left: 1.715%;
}

.top-orgs-child:first-of-type {
  padding-left: 0%;
}

.top-logo-container {
  display: inline-block;
  position: relative;
  left: 0px;
  top: 0px;
  width: 100%;
}

.top-logo-dummy {
  padding-top: 75%;
}

.top-logo-div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.top-logo {
  width: 100%;
  height: 100%;
}

.top-rating {
  width: 90%;
  margin: 1% auto;
}
