<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <div class="place-job-container">
    <div class="place-job-order">
      <form action="../suggest_job_save/" method="post" class="suggest-job-form">
        <input type="hidden" id="jobCategory"/>
        <input type="hidden" id="jobType"/>
        <div class="input-fields-div">
          <input type="text" name="job_header" placeholder="Краткий заголовок заявки" class="input-base job_header">
        </div>
        <div class="input-fields-div">
          <div class="show-menu-wrapper">
            <div class="show-menu-icon">
              <img src="{{STATIC_URL}}remont/images/arrow-right.png" class="arrow-icon"/>
            </div>
            <div class="show-menu-btn" id="jobTypeBtn">Вид работ</div>
          </div>
          <ul id="jobCategoryMenu" class="job-category hidden-el">
            {% for category in categories %}
              <li dataCatId="{{ category.id }}" class="job-menu-item">{{ category.name }}
                <ul>
                  {% for job in category.jobs %}
                    <li dataJobId="{{ job.id }}" class="job-type job-menu-item">{{ job.name }}</li>
                  {% endfor %}
                </ul>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="input-fields-div">
          <textarea placeholder="Максимально подробное описание работ(площадь, объем, сроки и т.п.)" class="job_description"></textarea>
        </div>
        <div class="input-fields-div">
          <input type="text" placeholder="Контактное лицо" class="input-base contact_name">
          <input type="text" placeholder="Ваш город" class="input-base job_city">
        </div>
        <div class="input-fields-div">
          <input type="tel" placeholder="Телефон" class="input-base contact_phone">
          <input type="email" placeholder="Электронная почта" class="input-base contact_mail">
        </div>
        <div class="input-fields-div">
          <input type="button" id="placeOrderButton" value="Оставить заявку" class="place-job-request-btn"/>
        </div>
    </form>
  </div>
</div>

  <script type="text/javascript" src="{{ STATIC_URL }}remont/js/jquery-2.1.3.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}remont/js/jquery-ui-1.11.3.custom/jquery-ui.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}remont/js/add-work-template.js"></script>
</body>
</html>