<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Статьи о стройке и ремонте</title>
  <link rel="stylesheet" href="{{ STATIC_URL }}remont/js/jquery-ui-1.11.3.custom/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}remont/css/articles_list.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}remont/css/common.css">

  {% include "remont/blocks/google_analytics.html" %}
  {% include "remont/blocks/yandex-metriks.html" %}
</head>
<body>
  {% include "remont/top_page_template.html" %}

  {# Split page into 2 sections: 25 and 75 % width #}
  <div class="main-div">
    <div class="menu-div">
      {% include "remont/main_menu.html" %}
      {% include "remont/how_site_works.html" %}
    </div>
    <div class="content-div">
      <div class="art-list-container">
        {% include "remont/blocks/articles-paginator.html" %}

        <ul class="non-markered-list articles-list">
          {% for article in articles %}
            <li class="article-item">
              <p class="article-title">{{article.name}} ({{article.date_modified}})</p>
              <div class="article-beginning">{% autoescape off %}
                {{article.content|truncatewords_html:100}}
              {% endautoescape %}</div>
              <br/>
              <a href="/remont/read_article/{{article.id}}" class="read-link">Читать дальше</a>
            </li>
          {% endfor %}
        </ul>

        {% include "remont/blocks/articles-paginator.html" %}
      </div>
    </div>
  </div>

  <script type="text/javascript" src="{{ STATIC_URL }}remont/js/jquery-2.1.3.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}remont/js/jquery-ui-1.11.3.custom/jquery-ui.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}remont/js/rem_utils.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}remont/js/jobs_list.js"></script>
</body>
</html>
