<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
  <script type="text/javascript" src="{{ STATIC_URL }}remont/js/jquery-2.1.3.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}remont/js/jquery-ui-1.11.3.custom/jquery-ui.js"></script>
  <link rel="stylesheet" href="{{ STATIC_URL }}remont/js/jquery-ui-1.11.3.custom/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}remont/css/common.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}remont/css/index.css">
</head>
<body>
  {% include "remont/top_page_template.html" %}
  <p>Регистрация учпешно завершена! для активации аккаунта пройдите по ссылке, отправленной на электронную почту, указанную при регистрации</p>
</body>