<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Редактировать альбом</title>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}remont/css/index.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}remont/css/common.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}remont/css/edit_album.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}remont/js/jquery-ui-1.11.3.custom/themes/smoothness/jquery-ui.css">

  {% include "remont/blocks/google_analytics.html" %}
</head>
<body>
  {% include "remont/top_page_template.html" %}

  <div class="header">
    <div class="centrified album-name">{{album.name}}</div>
    <div class="centrified album-photos-amount">В Альбоме {{photos|length}} фотографий</div>
    <div class="div-btn album-add-photos" id="btnAddPhotos">Добавить фотографии в альбом</div>
  </div>

  <div class="photos-container">
    {% for photo_obj in photos %}
    <div class="photo-elem">
      <a href="/remont/{{photo_obj.photo.url}}">
        <img src="/remont/{{photo_obj.photo.url}}" class="photo-trumb"/>
      </a>
      <img src="{{ STATIC_URL }}remont/images/delete.jpg" class="photo-delete" title="Удалить" data-photo-id="{{photo_obj.id}}"/>
    </div>
    {% endfor %}
  </div>

  <div class="photo-uploader hidden-el" id="photoUploadDialog">
    <form name="uploadPhotoForm" action="../upload_work_photos/" enctype="multipart/form-data" method="POST">
      <input type="hidden" name="albumId" value="{{album.id}}">
      <label class="label-btn" id="uploadOpenBtn">
        Добавить фотографии
        <input id="uploadPhoto" name="uploadPhoto" multiple type="file" class="hidden-el"/>
      </label>
      <div id="photosPreview"></div>
    </form>
  </div>

  <script type="text/javascript" src="{{ STATIC_URL }}remont/js/jquery-2.1.3.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}remont/js/jquery-ui-1.11.3.custom/jquery-ui.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}remont/js/rem_utils.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}remont/js/edit_album.js"></script>
</body>
</html>