<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="{{ STATIC_URL }}remont/js/index.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}remont/js/jquery-2.1.3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}remont/css/index.css">
</head>

<body>
    <div class="topPage">
        <div id="sectionLogo" class="sectionLogo">
            <img src="{{ STATIC_URL }}remont/images/logo.jpg" style="width: 100%; height: 100%">
        </div>
        <div id="sectionBanner" class="sectionBanner">
            <img src="{{ STATIC_URL }}remont/images/banner.jpg" style="width: 100%; height: 100%">
        </div>
        <div id="sectionRegister" class="sectionRegister">
            <a href="/remont/register">Регистрация</a>/<a href="/login">Вход</a>
            <span>Тип работ</span>
            <select name="jobTypes">
                <option value="1">Промышленные</option>
                <option value="2">Индивидуальные</option>
            </select>
        </div>
    </div>

    <div class="top10Companies">
        <div class="top10Inner">
            <table width="100%"><tr>
                <td class="topCompanyCell">Company 1</td>
                <td class="topCompanyCell">Company 2</td>
                <td class="topCompanyCell">Company 3</td>
                <td class="topCompanyCell">Company 4</td>
                <td class="topCompanyCell">Company 5</td>
                <td class="topCompanyCell">Company 6</td>
                <td class="topCompanyCell">Company 7</td>
                <td class="topCompanyCell">Company 8</td>
            </tr></table>
        </div>
    </div>

    <div class="placeJobOrder" style="width: 600px; margin: 0 auto">
        <form action="../suggest_job_save/" method="post">
            {% csrf_token %}
            {{ suggest_job_form.as_p }}
            <input type="button" id="placeOrderButton" value="Оставить заявку" onclick="placeJobOrder()"/>
        </form>
    </div>
{#    <div class="searchCompany">#}
{#        <input type="text" maxlength="80" class="searchInput" name="searchKeyword">#}
{#        <button class="searchButton">Найти</button>#}
{#        <select name="city">#}
{#            {% for city in cities %}#}
{#                <option value="{{ city.id }}">{{ city.name }}</option>#}
{#            {% endfor %}#}
{#        </select>#}
{#    </div>#}

    <div class="mainMiddle">
{#        <div id="videoHowItworks" class="howSiteWorks">Video about how the site works</div>#}
        <div id="menuDiv" class="mainMenu">
            <div class="menuItemOuter" style="background-image: url({{ STATIC_URL }}../../static/remont/images/fon_menu.png)">
                <div class="menuItemInner">
                    <a href="/remont/jobs_catalog">Каталог работ</a>
                </div>
            </div>
            <div class="menuItemOuter" style="background-image: url({{ STATIC_URL }}../../static/remont/images/fon_menu.png)">
                <div class="menuItemInner">
                    <a href="/remont/goods_catalog">Каталог товаров</a>
                </div>
            </div>
            <div class="menuItemOuter" style="background-image: url({{ STATIC_URL }}../../static/remont/images/fon_menu.png)">
                <div class="menuItemInner">
                    <a href="/remont/usefull_articles">Полезные статьи</a>
                </div>
            </div>
            <div class="menuItemOuter" style="background-image: url({{ STATIC_URL }}../../static/remont/images/fon_menu.png)">
                <div class="menuItemInner">
                    <a href="/remont/organizations_list">Организации</a>
                </div>
            </div>
        </div>

        <div class="suggestJob" style="background-image: url({{ STATIC_URL }}../../static/remont/images/fon_suggest_job.png)">
            <div class="suggestJobButton">
                <a href="/remont/suggest_job">Предложить работу</a>
            </div>
        </div>
    </div>

    <div class="jobsSuggestions">
        <div class="suggestionsHeader">
            <h2>Недавно добавленные заказы и тендеры</h2>
        </div>
        <ul>
            {% for job in jobSuggestions%}
                <li>
                    <div style="border: 1px solid black; margin-left: 10px; margin-top: 10px">
                        <h3>{{ job.short_header}}</h3>
                        <h5>{{ job.job_type.name }}</h5>
                        <div>
                            <span>{{ job.date_created }}</span>
                            <p>{{ job.description }}</p>
                        </div>
                    </div>
                </li>
            {% endfor %}
            <li>
                <div style="margin-top: 10px; background-color: brown; width: 30%" onclick="showMore()">
                    Показать больше
                </div>
            </li>
        </ul>
    </div>

</body>
</html>