<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="{{ STATIC_URL }}remont/js/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}remont/js/jquery-ui-1.11.3.custom/jquery-ui.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}remont/js/index.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}remont/js/jquery-ui-1.11.3.custom/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}remont/css/index.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}remont/css/add_work_template.css">
</head>

<body>
    <div class="topPage">
        <div id="sectionLogo" class="sectionLogo">
            <img src="{{ STATIC_URL }}remont/images/logo.jpg" class="img_auto_100p">
        </div>
        <div id="sectionBanner" class="sectionBanner">
            <img src="{{ STATIC_URL }}remont/images/banner.jpg" class="img_auto_100p">
        </div>
        <div id="sectionRegister" class="sectionRegister">
            <div class="center-hor">
                <a href="/remont/register">Регистрация</a>/<a href="#" id="loginLink">Вход</a>
            </div>
            <div class="center-hor margin-top20">
                <span>Тип работ</span>
                <select name="jobTypes" id="jobTypes">
                    <option value="1">Промышленные</option>
                    <option value="2">Индивидуальные</option>
                    <option value="0">Все</option>
                </select>
            </div>
        </div>
    </div>

    {# Split page into 2 sections: 25 and 75 % width #}
    <div class="main-div">
        <div class="menu-div">
            <div class="menu">
                {% include "remont/main_menu.html" %}
            </div>
            <div class="how-site-works">
                {% include "remont/how_site_works.html" %}
            </div>
        </div>
        <div class="content-div">
            {% include "remont/top_orgs_template.html" %}
            {% include "remont/search_template.html" %}
            {% include "remont/add_work_template.html" %}
            {% include "remont/job_suggestions.html" %}
        </div>
    </div>

    <div style="display: none" id="loginDialog" title="Вход">
        <form name="loginForm" action="site_login">
            <div class="login-fields-div">
                <label class="login-label" for="login">Название организации/Логин:</label>
                <input type="text" name="login" id="login" value="" class="login-fields-input"/>
            </div>
            <div class="login-fields-div">
                <label for="password">Пароль:</label>
                <input type="password" name="password" id="password" value="" class="login-fields-input"/>
            </div>
            <div class="login-fields-div">
                <a href="#" onclick="restorePasswordOpen()" class="login-link">Я забыл пароль</a>
                <a href="/remont/register" class="login-link">Регистрация</a>
            </div>
        </form>
    </div>

    <div style="display: none" id="setPasswordDialog">
        <form name="createPassword" action="createPassword">
            <input type="hidden" name="passwordOrgName", id="passwordOrgName"/>
            <div class="login-fields-div">
                <label for="firstPassword">Введите пароль:</label>
                <input type="password" name="firstPassword" id="firstPassword" class="login-fields-input"/>
            </div>
            <div class="login-fields-div">
                <span class="help-text">Пароль должен быть не короче 6 символов</span>
            </div>
        </form>
    </div>

</body>
</html>