<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Организации, выполняющие работу</title>
  <link rel="stylesheet" href="{{ STATIC_URL }}remont/js/jquery-ui-1.11.3.custom/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}remont/css/common.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}remont/css/job_orgs_list.css">

  {% include "remont/blocks/google_analytics.html" %}
  {% include "remont/blocks/yandex-metriks.html" %}
</head>
<body>
  {% include "remont/top_page_template.html" %}

  {# Split page into 2 sections: 25 and 75 % width #}
  <div class="main-div">
    <div class="menu-div">
      {% include "remont/main_menu.html" %}
      {% include "remont/how_site_works.html" %}
    </div>
    <div class="content-div">
      <p class="job-type-header">{{job_type.name}}</p>
      <div class="orgs-list">
        <ul class="no-marker job-orgs-list">
        {% for org in orgs_list %}
          <li><a href="/remont/view_profile?org_id={{org.id}}">
            <div class="org-info" data-categoryId="{{org.id}}">
              <div style="float: left">
                {% if org.logo %}
                  <img class="org-logo" src="{{org.logo}}"/>
                {% else %}
                  <img class="org-logo" src="{{ STATIC_URL }}remont/images/info_empty.jpg"/>
                {% endif %}
              </div>
              <div style="float: left; margin-left: 20px">
                <span class="org-header">{{ org.name }}</span>
              </div>
            </div>
          </a></li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="{{ STATIC_URL }}remont/js/jquery-2.1.3.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}remont/js/jquery-ui-1.11.3.custom/jquery-ui.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}remont/js/rem_utils.js"></script>

</body>
</html>