<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="{{ STATIC_URL }}remont/css/menu.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}remont/css/common.css">
</head>
<body>
  <div class="menu">
    <ul class="main-menu-list">
      <li class="main-menu-item">
        <div class="action-btn menu-btn" dataLink="/remont/jobs_list">Услуги</div>
      </li>
      <li class="main-menu-item">
        <div class="action-btn menu-btn" dataLink="">Товары</div>
      </li>
      <li class="main-menu-item">
        <div class="action-btn menu-btn" dataLink="">Полезные статьи</div>
      </li>
      <li class="main-menu-item">
        <div class="action-btn menu-btn" dataLink="">Новости</div>
      </li>
      <li class="main-menu-item">
        <div class="action-btn menu-btn" dataLink="/remont/orgs_list">Организации</div>
      </li>
    </ul>
  </div>

  <div class="hidden-el" id="noSpecDialog">
    <p>Пожалуйста, укажите специализацию работ!</p>
    <form name="selSpecDialogForm">
      <select id="selectSpecInDialog" class="sel-spec-in-dialog">
        {% for spec in request.session.work_specs %}
          <option value="{{spec.id}}" {{spec.selected}} {{spec.disabled}}>{{spec.value}}</option>
        {% endfor %}
      </select>
    </form>
  </div>

  <script type="text/javascript" src="{{ STATIC_URL }}remont/js/menu.js"></script>

</body>
</html>