<ul class="main-menu-list">
    <li class="main-menu-item">
        <div class="action-btn" onclick="mainMenuClick('/remont/jobs_list')">Каталог работ</div>
    </li>
    <li class="main-menu-item">
        <div class="action-btn">Каталог товаров</div>
    </li>
    <li class="main-menu-item">
        <div class="action-btn">Полезные статьи</div>
    </li>
    <li class="main-menu-item">
        <div class="action-btn" onclick="mainMenuClick('/remont/orgs_list')">Организации</div>
    </li>
</ul>