<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Список организаций</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}remont/css/index.css">
</head>
<body>
    <table>
        <thead><tr>
            <th>Название организации</th>
            <th>Выполняемые работы</th>
            <th></th>
        </tr></thead>
        <tbody>
            {% for org in organizatins%}
                <tr>
                    <td><a href="/remont/org_profile?org={{ org.id }}">{{ org.name }}</a></td>
                    <td><ul class="simple-list">
                        {% for job_type in org.job_types.all %}
                            <li>{{job_type.name}}</li>
                        {% endfor %}
                    </ul></td>
                    <td>
                        <img src="/remont/{{ org.logo.url }}"/>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>