<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Список организаций</title>
  <link rel="stylesheet" href="{{ STATIC_URL }}remont/js/jquery-ui-1.11.3.custom/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}remont/css/orgs_list.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}remont/css/common.css">

  {% include "remont/blocks/google_analytics.html" %}
  {% include "remont/blocks/yandex-metriks.html" %}
</head>
<body>
  {% include "remont/top_page_template.html" %}

  {# Split page into 2 sections: 25 and 75 % width #}
  <div class="main-div">
    <div class="menu-div">
      {% include "remont/main_menu.html" %}
      {% include "remont/how_site_works.html" %}
    </div>
    <div class="content-div">
      <div class="orglist-container">
        <h3 class="orgs-list-header">Список организаций</h3>
        <div class="search-company ui-widget">
          <label for="searchKeyword">Поиск организаций:</label>
          <input type="text" maxlength="80" class="search-input" name="searchKeyword" id="searchKeyword" placeholder="Введите название организации"/>
        </div>
        <ul class="orgs-list">
          {% for org in orgs_list %}
          <li>
            <div class="org-item-container" dataOrgId="{{org.id}}">
              <div class="org-item-logo">
                <img src="{{org.logo}}" class="org-logo"/>
              </div>
              <div class="org-item-data">
                <div class="org-item-name">{{ org.name }}</div>
                <div class="org-item-rating" dataOrgId="{{org.id}}" dataRating="{{org.rating}}" id="rating{{org.id}}"></div>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="hidden-el">
    <span id="nameStarts">{{nameStarts}}</span>
    <span id="namePrevValue">{{nameStarts}}</span>
  </div>

  <script type="text/javascript" src="{{ STATIC_URL }}remont/js/jquery-2.1.3.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}remont/js/jquery-ui-1.11.3.custom/jquery-ui.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}remont/js/jRate.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}remont/js/rem_utils.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}remont/js/orgs_list.js"></script>
</body>
</html>