<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>{{article.name}}</title>
  <link rel="stylesheet" href="{{ STATIC_URL }}remont/js/jquery-ui-1.11.3.custom/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}remont/css/read_article.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}remont/css/common.css">
</head>
<body>
  {% include "remont/top_page_template.html" %}

   <div class="main-div">
    <div class="menu-div">
      {% include "remont/main_menu.html" %}
      {% include "remont/how_site_works.html" %}
    </div>
    <div class="content-div">
      <div class="article_content">{% autoescape off %}
        {{article.content}}
      {% endautoescape %}</div>
    </div>

    <script type="text/javascript" src="{{ STATIC_URL }}remont/js/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}remont/js/jquery-ui-1.11.3.custom/jquery-ui.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}remont/js/rem_utils.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}remont/js/read_article.js"></script>
</body>
</html>