<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ STATIC_URL }}remont/css/top_orgs.css">
</head>
<body>
  <div class="top-orgs-container">
    {% for org in top_orgs %}
      <div class="top-org" title="{{org.name}}" dataOrgId="{{org.id}}">
        <div class="logo-container">
          <div class="logo-dummy"></div>
          <div class="logo-div">
            <img src="{{org.logo}}" class="top-logo"/>
          </div>
        </div>
        <div class="top-rating" id="rating{{org.id}}" dataRating="{{org.rating}}"></div>
      </div>
    {% endfor %}
  </div>
</body>
</html>