<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ STATIC_URL }}remont/css/top_orgs.css">
</head>
<body>
  <div class="top-orgs-container">
    <div class='top-orgs-parent'>
      {% for org in top_orgs %}
        <div class="top-orgs-child" title="{{org.name}}" dataOrgId="{{org.id}}">
          <img src="{{org.logo}}" class="top-logo scaled"/>
          <div class="top-rating" id="rating{{org.id}}" dataRating="{{org.rating}}"></div>
        </div>
      {% endfor %}
    </div>
  </div>
</body>
</html>