<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="{{ STATIC_URL }}remont/css/top_page.css">
</head>
<body>
  <div class="topPage">
    <div id="sectionLogo" class="sectionLogo">
      <img src="{{ STATIC_URL }}remont/images/logo.jpg" class="img_auto_100p">
    </div>
    <div id="sectionBanner" class="sectionBanner">
      <img src="{{ STATIC_URL }}remont/images/banner.jpg" class="img_auto_100p">
    </div>
    <div id="sectionRegister" class="sectionRegister">
      {% if not user.is_authenticated %}
        <div class="reg-login-cont">
          <div class="action-btn">Регистрация</div>
          <div class="slash-sep">/</div>
          <div class="action-btn" id="loginLink">Вход</div>
          <!-- <a href="/remont/register">Регистрация</a>/<a href="#" id="loginLink">Вход</a> -->
        </div>
      {% endif %}
    </div>
  </div>
</body>
</html>
