<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Информация об организации: {{ org_profile.name }}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}remont/css/view_profile.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}remont/js/jquery-ui-1.11.3.custom/themes/smoothness/jquery-ui.css">
</head>
<body>
    <div style="display: none">
        <span id="orgId">{{ org_id }}</span>
    </div>
    <div class="main-div">
        <div class="profile-header">
            <div class="org-name" id="orgName"></div>
            <div class="org-rating" id="orgRating"></div>
        </div>
        <div class="profile-content">
            <div class="left-block">
                <div class="logo-container">
                    <img src="" class="org-logo" id="orgLogo"/>
                </div>
                <div class="last-visit" id="lastVisit"></div>
                <div class="reviews-amount" id="reviewsAmount"></div>
                <div class="link-btn">Предложить работу</div>
                <div class="link-btn" id="btnSendMsg">Отправить сообщение</div>
                <div class="link-btn">Цены</div>
                <div class="collegs-container">
                    <div class="collegs-header">Коллеги</div>
                    <div class="collegs-amount" id="collegsAmount"></div>
                    <div class="collegs-list" id="collegsList"></div>
                </div>
            </div>
            <div class="right-block">
                <div class="job-types" id="jobTypes"></div>
                <div class="contacts-container">
                    <ul id="contacts" class="contacts-list"></ul>
                </div>
                <div class="org-address" id="orgAddress"></div>
                <span class="show-map" id="showMap">показать на карте</span>
                <div class="address-map hidden" id="addressMap"></div>
                <div class="photos-container">
                    <div class="photos-header" id="photosHeader"></div>
                    <div class="photos" id="photos"></div>
                </div>
                <div class="about-company-container">
                    <span class="about-company-header">О Компании</span>
                    <div class="about-company" id="aboutCompany"></div>
                </div>
                {% if user.is_authenticated %}
                    <div class="add-to-partners-btn">Добавить в "Партнеры"</div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="hidden" id="messageDialog" title="Отправить сообщение">
        <form name="messageForm" action="send_message">
            <input type="hidden" name="orgId" id="org_id" value="{{ org_id }}">
            <div>
                <label for="tMessage">Текст сообщения: </label>
                <textarea id="tMessage" name="tMessage" rows="10" cols="50" maxlength="1000"></textarea>
            </div>
        </form>
        <div class="error-div" id="msgError"></div>
    </div>

    <script type="text/javascript" src="{{ STATIC_URL }}remont/js/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}remont/js/jquery-ui-1.11.3.custom/jquery-ui.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}remont/js/jRate.js"></script>
    <script type="text/javascript" src="http://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}remont/js/view_profile.js"></script>
</body>
</html>