.menu {
  margin-top: 5%;
  width: 100%;
}

.main-menu-list {
  list-style-type: none;
  margin: none;
  padding: 0;
  width: 100%;
}

.main-menu-item {
  float: left;
  display: table;
  width: 19%;
  margin-left: 1%;
  height: 60px;
  background: linear-gradient(rgba(40, 149, 230, 0.5), rgba(17, 87, 138, 0.5));
  border-radius: 10px;
}

.menu-btn {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 1.45em;
}
